<div class="container mt-5">
  <h1>Books wish list</h1>
  <div class="description">
      Add your favorite books to your wish list.
  </div>
  <hr>
  <div *ngIf='!pay' class="row main-cmps mt-4">
      <app-book-carusel class="col-lg-7 col-md-8 col-sm-6"></app-book-carusel>
      <app-wish-list (pay)='onPay($event)' class="col-lg-5 col-md-4 col-sm-6"></app-wish-list>
  </div>
  <div>
    <app-pay *ngIf='pay' (cancel)='oncancele($event)'></app-pay>
  </div>
</div>

<router-outlet></router-outlet>